.header {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: rgb(29, 29, 29);
  color: rgb(214, 214, 214);
  font-family: 'IBM PlexSans Bold';
}

.header-title {
  font-size: 3.8rem;
  font-weight: bold;
  margin: 0 10px;
}

.header-nav {
  margin-left: auto;
  margin-right: 50px;
}

.header-button {
  border: none;
  background-color: rgb(29, 29, 29);
  color: rgb(214, 214, 214);
  width: 100px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  font-family: 'IBM PlexSans SemiBold';
}