@font-face {
  font-family: "IBM PlexSans Bold";
  src:
    url("./assets/fonts/IBMPlexSans-Bold.woff") format("woff"),
    url("./assets/fonts/IBMPlexSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "IBM PlexSans SemiBold";
  src:
    url("./assets/fonts/IBMPlexSans-SemiBold.woff") format("woff"),
    url("./assets/fonts/IBMPlexSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "IBM PlexSerif";
  src:
    url("./assets/fonts/IBMPlexSerif-Regular.woff") format("woff"),
    url("./assets/fonts/IBMPlexSerif-Regular.woff2") format("woff2");
}

:root {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10fr 88fr 2fr;
  margin: 0;
}